.row
  .columns
    #chart{:style => "width: 600px; height: 600px; margin: 0 auto"}
.row
  .columns
    %p.float-left Credit - Isaac Bell
    %ul.menu.align-center.float-right
      %li
        %a{:href => "github.com/IsaacBell/"} Github
      %li
        %a{:href => "linkedin.com/in/bellisaac"} Linkedin
      %li
        %a{:href => ""} Link
    
:javascript 
  $(document).ready(function(){
    var options = {
      yAxis: {
        minPadding: 0.05,
        maxPadding: 0.05,
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function() {
            return Highcharts.dateFormat('%e %b', this.value*1000); // milliseconds not seconds
          },
        }
      },
      chart: {
        type: 'spline',
        renderTo: 'chart'
      },
      title: {
        text: 'Currency Comparison Tool'
      },
      subtitle: {
        text: 'Compare Bitcoin, Ethereum, and NASDAQ historical values'
      },
      series: [
        { name: 'Bitcoin', data: #{ bitcoin_data_by_date(@btc_data)} },
        { name: 'Ethereum', data: #{ ethereum_data(@eth_data)} },
        { name: 'NASDAQ', data: #{ nasdaq_data(@nasdaq_data)} }
    	]
    }
    
    chart = new Highcharts.Chart(options);
  })
  
  