.row
  .columns
    #chart{:style => "width: 600px; height: 400px; margin: 0 auto"}
    
:javascript 
  $(document).ready(function(){
    var options = {
      yAxis: {
        minPadding: 0.05,
        maxPadding: 0.05,
        categories: ['Bitcoin', 'Ethereum', 'NASDAQ']
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function() {
            return Highcharts.dateFormat('%e %b', this.value*1000); // milliseconds not seconds
          },
        }
      },
      chart: {
        type: 'spline',
        renderTo: 'chart'
      },
      title: {
        text: 'Currency Comparison Tool'
      },
      subtitle: {
        text: 'Compare Bitcoin, Ethereum, and NASDAQ'
      },
      series: [{
    		color: Highcharts.getOptions().colors[2]}
    	]
    }
    
    options.series[0] = { name: 'Bitcoin', data: #{ bitcoin_data_by_date(@btc_data)} }
    
    chart = new Highcharts.Chart(options);
  })
  
  