.row
  .columns
    #chart{:style => "width: 600px; height: 400px; margin: 0 auto"}
    
:javascript 
  $(document).ready(function(){
    var options = {
      yAxis: {
        minPadding: 0.05,
        maxPadding: 0.05,
        categories: ['Bitcoin', 'Ethereum', 'NASDAQ']
      },
      chart: {
        type: 'line',
        renderTo: 'chart'
      },
      title: {
        text: 'Currency Comparison Tool'
      },
      subtitle: {
        text: 'Compare Bitcoin, Ethereum, and NASDAQ'
      },
      series: [{
    		color: Highcharts.getOptions().colors[2]}
    	]
    }
    
    options.series[0] = { name: 'Bitcoin', data: #{ raw @btc_data } }
    options.series[1] = { name: 'Ethereum', data: #{ raw @eth_data } }
    options.series[2] = { name: 'NASDAQ', data: #{ raw @nasdaq } }
    chart = new Highcharts.Chart(options);
  })
  
  